body {
  padding: 200px;
  font-family: 'THE BAZOOKA (Demo)';
  background-color: red;
  height: 10000px;
}

a {
  color: #00B7FF;
}

nav{
  background-color: greenyellow;
  font-size: large;
  position: fixed;
}

nav button {
  color: rgb(255, 0, 0);
  font-size: large;
  font-weight: 1000;
}