body {
  padding: 200px;
  font-family: 'THE BAZOOKA (Demo)';
  background-color: red;
  height: 10000px;
  color: black;
  font-size: 30px;
}

a {
  color: #00B7FF;
}

nav{
  background-color: greenyellow;
  font-size: 30px;
  position: fixed;
  top: 50px;
}

nav button {
  color: rgb(255, 0, 0);
  font-size: large;
  font-weight: 1000;
  position: relative;
  bottom: 180px;
  left: 80px;
}

nav button:hover {
  left: 400px;
}

